{% extends 'shop/base.html' %}
{% block title %}Main{% endblock %}

{% block content %}

<!-- jumbotron start -->
<div class="jumbotron display-2 pt-3 pb-3" style="height: 320px;">
    <!-- Carousel Image Row start -->
    <div id="carouselExampleIndicators0" class="carousel slide " data-ride="carousel" style='height: 300px;'>
        <!--carousel indicators-->
        <ol class="carousel-indicators mb-3">
            <li data-target="#carouselExampleIndicators0" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators0" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators0" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner mt-3 mb-3">
            <div class="carousel-item active">
                <div class='row text-center px-5'>
                    <div class='col-9 mx-auto'>
                        <h1 class="text-center">Welcome to django-shop</h1>
                        <!--                        <hr class="my-4">-->
                        <p class="lead">product.short_description</p>
                        <!--                        <a class="btn btn-primary btn mx-left" href="#" role="button">Learn more</a>-->
                    </div>
                </div>
            </div>

            {% for suggested_item in suggested_items %}
            <div class="carousel-item">
                <div class='row text-center px-5'>
                    <div class='col-9 mx-auto'>
                        <h1 class="text-center">{{ suggested_item }}</h1>
                        <hr class="my-4">
                        <p class="lead">product.short_description</p>
                        <a class="btn btn-primary btn mx-left" href="#" role="button">Learn more</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!--previous-->
        <a class="container-fluid carousel-control-prev" href="#carouselExampleIndicators0" role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style='margin-right:50px;'></span>
            <span class="sr-only">Previous</span>
        </a>
        <!--next-->
        <a class="carousel-control-next pl-5" href="#carouselExampleIndicators0" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style='margin-left:50px;'></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
</div>


<!-- Category card-deck start -->
<div class='card-deck mb-3 text-dark'>
    <!--Categories start-->
    {% for cat, subcategories in data.items %}
    <div class='card'>
        <div class="">
            <img src="https://www.atlantisbahamas.com/media/Things%20To%20Do/Water%20Park/Beaches/Hero/Experiences_Beach.jpg"
                 class="card-img-top d-none">
            <div class="card-body">
                <h5 class="card-title mb-0">{{ cat.name }}</h5>
            </div>
            <div class="list-group list-group-flush">
                {% for sub_cat in subcategories %}

                {% if sub_cat.items >= 1%}
                    <a href="{{ sub_cat.get_absolute_url }}" class="list-group-item list-group-item-action">{{ sub_cat.name }}<span
                        class="badge badge-secondary ml-3">{{ sub_cat.items }}</span></a>
                {% else %}
                    <a href="{{ sub_cat.get_absolute_url }}" class="list-group-item list-group-item-action disabled">{{ sub_cat.name }}<span
                        class="badge badge-secondary ml-3">{{ sub_cat.items }}</span></a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <!--Categories end-->
</div>
<!-- Category card-deck End -->

<div>
    <h1 class='col text-center mt-4 '>Recommend</h1>
</div>

<!--card colums start-->
<div class="card-columns">

    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">product.title</h5>
            <p class="card-text">product.description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">product.title</h5>
            <p class="card-text">product.description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">product.title</h5>
            <p class="card-text">product.description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card bg-primary text-white text-center p-3">
        <blockquote class="blockquote mb-0">
            <p>Center</p>
            <footer class="blockquote-footer text-white">
                <small>
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </small>
            </footer>
        </blockquote>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">product.title</h5>
            <p class="card-text">product.description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">product.title</h5>
            <p class="card-text">product.description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">product.title</h5>
            <p class="card-text">product.description</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<!--card colums end-->

<!--right side col start-->

{% include "shop/sidebar.html" with product=product %}

{% endblock %}