{% block content %}
<!--right side col start-->
<div class='col-2'>
    <div id="floatdiv">
        <div class="card mx-auto mb-1">
            <div class="card-body px-2">
                <div class="container">
                    {% if cart.cart %}
                    {% for item in cart %}
                    <a href="{% url 'cart:cart_detail' %}"><p>{{ item.product.name }}: {{ item.quantity }}</p></a>
                    {% endfor %}

                    {% else %}
                    <p>cart is empty</p>
                    {% endif %}
                </div>
                <div class="container">
                    <div class="row">
                        <a class="mb-2 mt-5" href="{% url 'cart:cart_clear' %}">Cart Clear</a>
                    </div>
                    <div class="row">
                        <a href="{% url 'cart:cart_detail' %}" class="btn btn-primary card-link">Cart</a>
                        <a href="#" class="btn btn-primary card-link">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
