{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Shopping cart
{% endblock %}

{% block content %}
{% if cart.products|length >= 1 %}
<h1>Your shopping cart</h1>
{% else %}
<h1>Your shopping cart is empty</h1>
{% endif %}

<div class='container'>
    <!--header start-->
    <div class='row'>
        <div class='col-3'>
            <h3>Image</h3>
        </div>
        <div class='col-4'>
            <h3>Product</h3>
        </div>
        <div class='col-1'>
            <h3>Quantity</h3>
        </div>
        <div class='col-4 text-right'>
            <h3>Unit Price</h3>
        </div>
    </div>
    <!--header end-->


    <!--info start-->
    {% for item in cart %}
    {% with product=item.product %}
    <div class='row'>
        <div class='col-3'>
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if item.image %}{{ item.image.image.url }}
                {% else %}{% static 'img/no_image.png' %}{% endif %}" style="width: 180px;height: 100px;">
            </a>
        </div>
        <div class='col-4'>
            <h5>{{ product.name|truncatechars:20 }}</h5>
        </div>
        <div class='col-1'>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.cart_form.quantity }}
                {{ item.cart_form.is_update }}
                <input type="submit" value="Update">
                {% csrf_token %}
            </form>
        </div>
        <div class='col-4 text-right'>
            <h5>{{ product.price | intcomma }} 원</h5>
        </div>
    </div>
    {% endwith %}
    {% endfor %}
    <!--info end-->

    <div class='col mt-4 text-right'>
        <p>Total price: {{ cart.get_total_price | intcomma }}원</p>
    </div>
</div>
<p class="text-right">
    <a href="{{ request.META.HTTP_REFERER }}" class="button mr-5">
        Continue shopping</a>
    <a href="{% if request.user.is_authenticated %}{% url 'order:create_order' %}{% else %}{% url 'login' %}{% endif %}" class="button">
        Checkout</a>
</p>

{% endblock %}