{% extends 'shop/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<h1>Checkout</h1>
<div class="col-7 display-5 mx-auto" style="height: 46vh;">
    <div class="order-list">
        <form class='create-order' action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input class="payment" type="submit" value="Payment">
        </form>
    </div>
    <div class="order-item-list">
        <ul style="padding-left: 20px; margin-top: 20px;">
            {% for item in cart %}
            <li style="text-align: right;">
                <p>{{ item.product.name }} X {{ item.quantity }}
                    <span>{{ item.total_price }}원</span>
                </p>
            </li>
            {% endfor %}
        </ul>
        <div>
            <p class="total-price">total: {{cart.get_total_price }}원</p>
        </div>

    </div>
</div>
{% endblock %}