{% extends 'shop/base.html' %}
{% load humanize %}

{% block title %}Checkout{% endblock %}

{% block content %}
<h1>Checkout</h1>
<div class="col-12 display-5 mx-auto">
    <div class="row">
        <div class="col-6">
            <form class='create-order' action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input class="payment" type="submit" value="Payment">
            </form>
        </div>
        <div class="col-6">
            {% for item in cart %}
            <p>{{ item.product.name }} X {{ item.quantity }}
                <span>{{ item.total_price | intcomma }} 원</span>
            </p>
            {% endfor %}
            <div>
                <p class="total-price">total: {{cart.get_total_price | intcomma }}원</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}