{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
{% if category %}
{{ category.name }}
{% endif %}
{% endblock %}

{% block content %}
<div>
    <h1 class='col text-center mt-4 '>{{ category.name }}</h1>
</div>

<!--card colums start-->
<div class="card-columns">
    {% for pi in product_image %}
    {% with pi.product as product %}
    <div class="card">

        {% if pi.image.url %}
        <img src="{{ pi.image.url }}" class="card-img-top">
        {% else %}
        <img src="{% static 'img/no_image.png' %}" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <div class="col">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description | truncatewords:5 }}</p>
                <div class="row">
                    <p class="card-text mx-auto"><small class="text-muted">{{ product.price | intcomma}} 원</small></p>
                    <a class="btn btn-primary" style='height: 38px;' href="{{ product.get_absolute_url }}">Detail</a>

                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary ml-1" type="submit" value="Cart">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
    {% empty %}
    <div class="col display-5" style="height: 100vh;">
        <h1>Not found item</h1>
    </div>

    {% endfor %}
</div>
<!--card colums end-->

{% include "shop/sidebar.html" with product=product %}

{% endblock %}
