{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
{% if category %}
{{ category.name }}
{% endif %}
{% endblock %}

{% block content %}
<div>
    <h1 class='col text-center mt-4 '>{{ category.name }}</h1>
</div>

<!--card colums start-->
<div class="card-columns">
    {% for product in products%}
    <div class="card">
        <img src="{{ product.get_image_url }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><small class="text-muted">{{ product.price | intcomma}} 원</small></p>
        </div>
    </div>
    {% endfor %}
</div>
<!--card colums end-->

{% include "shop/sidebar.html" with product=product %}

{% endblock %}
